footer {
    padding: 66px 58px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #000;

    .kasaLogo {
        width: 125px;
    }

    .legal {
        width: 125px;
        margin-top: 15px;
        color: #fff;
        font-size: 12px;
        text-align: center;
        line-height: 18px;
        @include responsive($tablet) {
            display: flex;
            justify-content: center;
            width: 100%;
            font-size: 24px;
            margin-top: 30px;
        }
    }
}
