@import "./variables.scss";
@import "./utils.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

header {
    height: 47px;
    margin-top: 30px;
    margin-bottom: 25px;
    padding-inline: 5vw;
    display: flex;
    justify-content: space-between;

    ul {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 25px;
    }

    a {
        font-family: "Montserrat", sans-serif;
        font-size: 0.8rem;
        text-decoration: none;
        color: #000;

        &.active {
            text-decoration: underline;
        }
    }

    @include responsive($tablet) {
        height: 68px;
        margin-top: 45px;
        margin-bottom: 50px;

        a {
            font-size: 1.5rem;
        }
    }
}

.heroBanner {
    height: 110px;
    margin-inline: 5vw;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    @include responsive($tablet) {
        height: 220px;
    }

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba($color: #000000, $alpha: 0.6);
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    p {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;

        font-weight: 600;
        font-size: 1.5rem;
        text-align: center;
        color: #fff;

        @include responsive($tablet) {
            font-size: 2.5rem;
        }
    }
}

.error {
    border: solid 1px red;
    height: 70vh;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    h1 {
        font-size: clamp(6rem, 35vw, 18rem);
        color: $mainColor;
    }
    p {
        padding-inline: 5vw;
        text-align: center;
        color: $mainColor;
        font-size: clamp(1rem, 5vw, 2.2rem);
    }
    a {
        color: #000;
    }
}

footer {
    width: 100%;
    padding-block: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #000;
    @include responsive($tablet) {
        padding-bottom: 35px;
    }

    img {
        height: 40px;
    }

    p {
        margin-top: 15px;
        color: #fff;
        font-size: 0.7rem;
        @include responsive($tablet) {
            margin-top: 30px;
            font-size: 1.2rem;
        }
    }
}
