.cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include responsive($tablet) {
        padding: 56px 50px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px;
        border-radius: 25px;
        background: $sectionColor;
    }
}
