.host {
    .content {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include responsive($tablet) {
            flex-direction: row;
            justify-content: space-between;
        }

        &__host {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .title {
                color: $mainColor;
                font-weight: 500;
            }
            .city {
                color: #000;
                font-weight: 500;
            }
            .tags {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 10px;

                .tag {
                    min-width: 84px;
                    padding: 2px 10px;
                    background: $mainColor;
                    border-radius: 5px;
                    color: #fff;
                    font-size: 0.8rem;
                    font-weight: 500;
                    text-align: center;
                }
            }
        }

        &__owner {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            @include responsive($tablet) {
                flex-direction: column;
                align-items: end;
            }

            .detail {
                display: flex;
                align-items: center;
                gap: 10px;

                .name {
                    color: $mainColor;
                    @include responsive($tablet) {
                        font-size: 1.2rem;
                    }

                }

                img {
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                }
            }
        }
    }

    .description {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @include responsive($tablet) {
            flex-direction: row;
            gap: 5vw;

        }
    }
}
