.carousel {
    height: 255px;
    width: 100%;
    position: relative;
    background: $mainColor;
    border-radius: 20px;
    overflow: hidden;
    @include responsive($tablet) {
        height: 415px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    p {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        font-size: 0.8rem;
        font-weight: 500;
        text-shadow: 0px 0px 4px rgba(#000000, 0.4);
        @include responsive($tablet) {
            font-size: 1.2rem;
        }
    }

    .fa-solid {
        position: absolute;
        top: 50%;
        transform: translateY(-50%) ;
        font-size: 2rem;
        color: #fff;
        text-shadow: 0px 0px 4px rgba(#000000, 0.4);
        cursor: pointer;
        transition: all 200ms ease-in-out;
        &:hover {
            transform: translateY(-50%) scale(1.1);
        }
        &:active {
            color: rgb(166, 166, 166);
        }

        @include responsive($tablet) {
            font-size: 3rem;
        }
    }

    .fa-chevron-left {
        left: 2vw;
    }
    .fa-chevron-right {
        right: 2vw;
    }
}