.menu {
    width: 100%;
    max-width: $desktop;

    &__banner {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $mainColor;
        color: #fff;
        padding: 10px 10px;
        border-radius: 5px;

        @include responsive($tablet) {
            padding-inline: 20px;
        }

        .fa-solid {
            font-size: 1.3rem;
            transform: rotate(-180deg);
            transition: 300ms ease-in-out;

            &.open {
                transform: rotate(0);
            }
        }
    }

    &__content {
        background: $sectionColor;
        margin-top: -5px;
        line-height: 1.5rem;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        overflow: hidden;
        position: relative;
        z-index: -1;

        height: 0;
        transition: all 300ms ease-in-out;

        &.open {
            height: fit-content;
            max-height: 9999px;
            padding: 20px;
        }
    }
}
