// VARIABLES
$mainColor: #ff6060;
$sectionColor: #fafafa; //#c0c0c0;
$tablet: 768px;
$desktop: 1024px;

// MIXINS
@mixin responsive($responsive-width) {
    @media screen and (min-width: $responsive-width) {
        @content;
    }
}

// FONTS
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css");

// COMPONENTS
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/banner.scss";
@import "./components/dropdownMenu.scss";
@import "./components/card.scss";

// PAGES
@import "./pages/home.scss";
@import "./pages/about.scss";
@import "./pages/error.scss";

// ******************************************************
// ******************************************************

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    padding-inline: 5vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    @include responsive($tablet) {
        gap: 40px;
        margin-bottom: 40px;
    }
}
