*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    padding-inline: 5vw;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    @include responsive($tablet) {
        margin-bottom: 50px;
        gap: 40px;
    }
}

